/* styles/styles.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  /* -webkit-overflow-scrolling: touch;  */
  /* เพิ่มการเลื่อนที่นุ่มนวลสำหรับ iOS */
}


.data-table {
    border-collapse: collapse;
    /* width: 100%; */
    font-size: smaller;
    margin-top: 1rem;
  }
  
  .data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .data-table td{
    text-align: right;
  }
  
  .data-table th {
    background-color: rgb(101, 124, 187);
    text-align: center;
    color: azure;
  }
  
  /* .data-table tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  
  .data-table tr:hover {
    background-color: #ddd;
  }

  
  button {
    border-radius: 0.5rem;
    background-color: rgb(101, 101, 226);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, transform 0.2s;
  }
  
  button:hover {
    background-color: darkblue;
    transform: scale(1.05);
  }
  
  button:active {
    background-color: navy;
    transform: scale(1);
  }

  .pagination button.active {
    background-color: orange;
    color: white;
  }
  
  .empty-cell {
    background-color: pink; /* เปลี่ยนสีพื้นหลังเป็นสีชมพู */
  }
  
